body{
    width: 428px;
}

.exhibitions_page_box1_black {
    width: 100vw ;
    height: 250px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box1_black img:nth-child(1) {
    width: 100px;
    height: 133px;
    position: absolute;
    display: flex;
    margin-left: 320px;
    margin-top: 20px;
}

.exhibitions_page_box1_black img:nth-child(2) {
    width: 117px;
    height: 128px;
    position: absolute;
    display: flex;
    margin-left: 230px;
    margin-top: 100px;
    border-radius: 4px;
}

.exhibitions_page_box1_black h2 {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;

}

.exhibitions_page_box1_black p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 60px;
    margin-right: 250px;
    margin-left: 10px;
}

.exhibitions_page_box2_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box2_black img {
    width: 176px;
    height: 170px;
    border-radius: 4px;
    margin-left: 230px;
    margin-top: 12px;
}

.exhibitions_page_box2_black h2 {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    display: flex;
    margin-top: 5px;
    margin-left: 12px;
}

.exhibitions_page_box2_black p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 10px;
    position: absolute;
    display: flex;
}

.exhibitions_page_box3_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box3_black img {
    width: 185px;
    height: 170px;
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 10px;
}

.exhibitions_page_box3_black h2 {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    display: flex;
    margin-top: 0px;
    margin-left: 240px;
}

.exhibitions_page_box3_black p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 240px;
    position: absolute;
    display: flex;
}

.exhibitions_page_box4_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box4_black img {
    width: 187px;
    height: 170px;
    border-radius: 4px;
    position: absolute;
    display: flex;
    margin-left: 12px;
    margin-top: 10px;
}

.exhibitions_page_box4_black h2 {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    margin-left: 235px;
    margin-top: 0px;
}

.exhibitions_page_box4_black p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    margin-left: 235px;
    margin-top: 50px;
}

.exhibitions_page_box5_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box5_black img {
    width: 184px;
    height: 170px;
    border-radius: 4px;
    position: absolute;
    display: flex;
    margin-left: 235px;
    margin-top: 10px;
}

.exhibitions_page_box5_black h2 {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    margin-left: 12px;
    margin-right: 150px;
}

.exhibitions_page_box5_black p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    margin-left: 12px;
    margin-right: 200px;
    margin-top: 90px;
}

.exhibitions_page_box6_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box6_black img {
    width: 185px;
    height: 170px;
    border-radius: 4px;
    margin-left: 235px;
    margin-top: 10px;
}

.exhibitions_page_box6_black h2:nth-child(2) {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    left: 12px;
    top: 5px;
}

.exhibitions_page_box6_black h2:nth-child(3) {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    left: 12px;
    top: 35px;
}

.exhibitions_page_box6_black h2:nth-child(4) {
    color: #00D2FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    position: absolute;
    left: 12px;
    top: 65px;
}

.exhibitions_page_box6_black p:nth-child(5) {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    position: absolute;
    left: 12px;
    top: 115px;
    width: 150px;
    margin: 0;
    font-size: 12px;
}

.exhibitions_page_box7_black {
    width: 428px;
    height: 197px;
    background-color: black;
    position: relative;
    display: flex;
}

.exhibitions_page_box7_black h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 25px;
    left: 80px;
    position: absolute;
}

.visit_us_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 112px;
    background-color: #00D2FF;
    color: white;
    border-radius: 4px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 834px) {
    body{
        width: 100vw;
    }

    .exhibitions_page_box1_black {
        width: 100vw ;
        height: 250px;
        background-color: black;
        position: relative;
        display: flex;
    }

    .exhibitions_page_box1_black img:nth-child(1) {
        width: 100px;
        height: 133px;
        position: absolute;
        display: flex;
        margin-left: 680px;
        margin-top: 20px;
    }

    .exhibitions_page_box1_black img:nth-child(2) {
        width: 117px;
        height: 128px;
        position: absolute;
        display: flex;
        margin-left: 600px;
        margin-top: 100px;
        border-radius: 4px;
    }

    .exhibitions_page_box2_black {
        width: 834px;
        height: 197px;
    }

    .exhibitions_page_box2_black img {
        margin-left: 600px;
    }

    .exhibitions_page_box3_black {
        width: 834px;
    }

    .exhibitions_page_box4_black {
        width: 834px;
    }

    .exhibitions_page_box5_black {
        width: 834px;
    }

    .exhibitions_page_box5_black img {
        margin-left: 610px;
    }

    .exhibitions_page_box5_black p {
        margin-right: 300px;
    }

    .exhibitions_page_box6_black {
        width: 834px;
    }

    .exhibitions_page_box6_black img {
        margin-left: 610px;
    }

    .exhibitions_page_box6_black h2:nth-child(3) {
        left: 60px;
    }

    .exhibitions_page_box6_black h2:nth-child(4) {
        left: 110px;
    }

    .exhibitions_page_box6_black p:nth-child(5) {
        left: 90px;
    }

    .exhibitions_page_box7_black {
        width: 834px;
    }

    .exhibitions_page_box7_black h2 {
        left: 290px;
    }


@media (min-width: 1737px) {
    body{
        width: 100vw;
    }

    .exhibitions_page_box1_black {
        width: 100vw ;
        height: 350px;
        background-color: black;
        position: relative;
        display: flex;
    }

    .exhibitions_page_box1_black img:nth-child(1) {
        width: 169px;
        height: 190px;
        position: absolute;
        display: flex;
        margin-left: 1550px;
        margin-top: 40px;
    }

    .exhibitions_page_box1_black img:nth-child(2) {
        width: 167px;
        height: 168px;
        position: absolute;
        display: flex;
        margin-left: 1440px;
        margin-top: 150px;
        border-radius: 4px;
    }

    .exhibitions_page_box1_black h2 {
        font-size: 42px;
        margin-left: 70px;
        margin-top: 40px;
    }

    .exhibitions_page_box1_black p {
        font-size: 24px;
        margin-top: 100px;
        margin-right: 350px;
        margin-left: 70px;
    }

    .exhibitions_page_box2_black {
        width: 100vw;
        height: 297px;
    }

    .exhibitions_page_box2_black img {
        width: 276px;
        height: 270px;
        border-radius: 4px;
        margin-left: 1420px;
        margin-top: 12px;
    }

    .exhibitions_page_box2_black h2 {
        font-size: 42px;
        margin-left: 70px;
    }

    .exhibitions_page_box2_black p {
        font-size: 24px;
        margin-top: 90px;
        margin-right: 300px;
        margin-left: 70px;
    }

    .exhibitions_page_box3_black {
        width: 100vw;
        height: 397px;
    }

    .exhibitions_page_box3_black img {
        width: 340px;
        height: 310px;
        margin-left: 70px;
        margin-top: 40px;
    }

    .exhibitions_page_box3_black h2 {
        font-size: 42px;
        margin-left: 850px;
    }

    .exhibitions_page_box3_black p {
        font-size: 24px;
        margin-top: 90px;
        margin-left: 850px;
        margin-right: 70px;
    }

    .exhibitions_page_box4_black {
        width: 100vw;
        height: 497px;
    }

    .exhibitions_page_box4_black img {
        width: 387px;
        height: 370px;
        margin-left: 70px;
        margin-top: 80px;
    }

    .exhibitions_page_box4_black h2 {
        font-size: 42px;
        margin-left: 850px;
    }

    .exhibitions_page_box4_black p {
        font-size: 24px;
        margin-left: 850px;
        margin-top: 90px;
    }

    .exhibitions_page_box5_black {
        width: 100vw;
        height: 397px;
    }

    .exhibitions_page_box5_black img {
        width: 384px;
        height: 370px;
        margin-left: 1300px;
        margin-top: 15px;
    }

    .exhibitions_page_box5_black h2 {
        font-size: 42px;

        margin-left: 70px;
        margin-right: 150px;
        margin-top: 15px;
    }

    .exhibitions_page_box5_black p {
        font-size: 24px;
        margin-left: 70px;
        margin-right: 400px;
        margin-top: 90px;
    }

    .exhibitions_page_box6_black {
        width: 100vw;
        height: 397px;
    }

    .exhibitions_page_box6_black img {
        width: 385px;
        height: 370px;
        margin-left: 1300px;
        margin-top: 15px;
    }

    .exhibitions_page_box6_black h2:nth-child(2) {
        font-size: 42px;
        margin-left: 70px;
        top: 15px;
    }

    .exhibitions_page_box6_black h2:nth-child(3) {
        font-size: 42px;
        left: 110px;
        top: 70px;
    }

    .exhibitions_page_box6_black h2:nth-child(4) {
        font-size: 42px;
        left: 160px;
        top: 130px;
    }

    .exhibitions_page_box6_black p:nth-child(5) {
        left: 80px;
        top: 210px;
        width: 600px;
        font-size: 24px;
    }

    .exhibitions_page_box7_black {
        width: 100vw;
        height: 297px;
        background-color: black;
    }

    .exhibitions_page_box7_black h2 {
        font-size: 42px;
        left: 640px;
        position: absolute;
    }

    .visit_us_button {
        margin-left: auto;
        margin-right: auto;
    }
}

}
