
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("/assets/images/header/ai_header_image_dark_grey_mobile.png");
    height: 447px;
    width: 429px;
}


.navbar h1 {
    color: #00D2FF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
}

.logo_blue_home {
    position: absolute;
    top: 18px;
    left: 26px;
}

.logo_blue_home img {
    width: 111px;
    height: 79px;
    border: 1px;
}

.burger_menu_tornado_blue_exhibitions {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.burger_menu_tornado_blue_exhibitions img {
    height: 63px;
    width: 50px;
}


.blur_blue_home_banner {
    position: absolute;
    bottom: 0;
    border-top: 12px solid rgba(0, 0, 0, 0.00);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(180deg, rgba(0, 210, 255, 0.25) 0%, rgba(0, 210, 255, 0.50) 85.42%);
    height: 100px;
    width: 427px;
}